html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #222;
  line-height: 25.6px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: #ccc;
}

h1, h2, h3 {
  color: #f2f2f2;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

main {
  padding: 32px;
}

.link {
  color: #ff7324;
  text-decoration: underline;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}