html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #222;
  line-height: 25.6px;
}

a {
  color: #ff7324;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

p {
  color: #ccc;
}

h1, h2, h3 {
  color: #f2f2f2;
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

main {
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

tbody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

tr {
  width: 100%;
  background-color: #363643;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  padding: 13px;
  border-radius: 10px;
  font-size: 20px;
}

tr>td:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr>td:nth-child(2) {
  font-size: 16px;
}

.italic {
  font-style: italic;
}

.highlight {
  color: #ff7324;
}

.gray, .divider {
  color: #b2b2b2;
  opacity: .8;
  text-decoration: none;
}

.divider {
  margin: 0 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}